.newDeliveryContainer {
    position: fixed;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    overflow-y: hidden;

    padding: 1rem;

    z-index: 5000;

    background: var(--background);

    .title {
        display: flex;
        flex-direction: row;
        align-items: center;

        color: var(--orange-700);

        margin-top: 1.5rem;

        margin-bottom: 0.5rem;

        h3 {
            font-size: 0.875rem;
            margin-left: 0.5rem;
        }
    }

    .headerContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 1.2rem;
            color: var(--black);
        }

        button {
            font-size: 1.3rem;
            height: 2.3rem;
            width: 2.3rem;
            color: var(--orange-700);
            background: var(--orange-100);
            border-radius: 10rem;
        }
    }

    .formContainer {
        display: flex;
        flex-direction: column;

        form {
            display: flex;
            flex-direction: column;
            
            span {
                margin: 0.5rem 0 0.2rem 0;
                font-size: 0.75rem;
                color: var(--gray-500);
            }

            input {
                height: 2.5rem;
                padding-left: 0.5rem;

                border: 1px solid var(--gray-100);
                border-radius: 5px;
            }
        }
    }

    .paymentContainer {
        display: flex;
        flex-direction: column;

        .radioBtnContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            margin-top: 0.5rem;

            .radioBtnCard {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                background: #fff;

                border-radius: 5px;

                font-size: 2rem;

                color: var(--gray-500);

                padding: 1rem;

                p {
                    font-size: 0.75rem;
                    margin-top: 0.5rem;
                }
            }
        }
    }

    .btnsContainer {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        
        button {
            width: 100%;
            height: 3rem;

            border-radius: 5px;
            font-weight: 500;
            margin-bottom: 0.5rem;

            font-size: 0.875rem;
            font-weight: 500;
        }

        .disabled {
            background: var(--gray-100);
            color: var(--gray-300);
        }

        .cancel {
            background: none;

            color: var(--red);
        }

        .continue {
            background: var(--orange-100);

            color: var(--orange-700);
        }
    }
}