.historyCardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-right: 1.5rem;

    width: 95vw;

    background: #fff;

    border-radius: 5px;

    color: var(--gray-500);
    font-size: 0.75rem;

    margin-bottom: 0.625rem;

    box-shadow: 0 3px 45px rgba(0, 0, 0, 0.05);

    .resume {
        display: flex;
        flex-direction: row;
        align-items: center;

        .dateContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            background: var(--gray-100);
    
            padding: 1.5rem;
    
            border-radius: 5px 0 0 5px;
    
            h1 {
                font-weight: 700;
                font-size: 1.875rem;
            }
    
            span {
                font-size: 0.875rem;
            }
        }
    
        .resumeContainer {
            display: flex;
            flex-direction: column;
    
            margin-left: 1rem;
    
            strong {
                font-weight: 700;
            }
    
            span {
                color: var(--gray-300);
                font-size: 0.75rem;
            }
        }
    }
}