 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

:root {
    --white:#FFFFFF;

    --background: #F8F8F8;
    --gray-100: #EBEBEB;
    --gray-200: #dfdfdf;
    --gray-300: #959595;
    --gray-500: #646464;
    --gray-600: #3b3b3b;
    
    --black: rgb(36, 36, 36);

    --orange-100: #FFD8CA;
    --orange-700: #ff5a1f;

    --red: #e83f5b;

    --green-100: #B9FFDD;
    --green-500: #65d990;
    --green-600: #21AE6A;

    --yellow-100: #fff6a9;
    --yellow-500: #FFE91F;
}

// @media (max-width: 1080px) {
//     html{
//         font-size: 93.75%;
//     }
// }

// @media (max-width: 720px) {
//     html{
//         font-size: 87.5%;
//     }
// }

textarea:focus, input:focus, select:focus {
    outline: 0;
}

body {
    background: var(--background);
    color: var(--text);

    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;

    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text);
}

h2 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text);
}

h3{
    font-size: 1rem;
    font-weight: 500;
}

ul{
    list-style: none;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.9rem;

    border: none;

    cursor: pointer;

    transition: filter 0.2s;

    &:hover{
        filter: brightness(1.07);
    }
}