.notificationsContainer {
    position: absolute;

    top: 0;

    width: 100vw;
    height: calc(100vh + 4rem);

    padding: 1rem;

    z-index: 5000;

    background: var(--background);

    .headerContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 1.2rem;
            color: var(--black);
        }

        .buttonsHeader {
            display: flex;
            
            button{
                background-color: var(--orange-100);
                
                height: 2.3rem;
                width: 2.3rem;
                
                border-radius: 10rem;
                
                margin-left: 0.5rem;
    
                .faIcon{
                    font-size: 1.3rem;
                    font-weight: 100;
                    color: var(--orange-700);
                }
            }
        }
    }
}