.issueContainer {
    position: fixed;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    overflow-y: hidden;

    padding: 1rem;

    z-index: 5000;

    background: var(--background);

    .headerContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: initial;

        .dateTimeId {
            display: flex;
            flex-direction: column;

            .dateTime {
                font-size: 0.75rem;

                margin-bottom: 0.625rem;
            }

            .idDelivery {
                font-size: 0.875rem;
                
                strong {
                    font-size: 0.875rem;
                }
            }
        }

        button{
            background-color: var(--orange-100);
            
            height: 2.3rem;
            width: 2.3rem;
            
            border-radius: 10rem;
            
            margin-left: 0.5rem;

            .faIcon{
                font-size: 1.3rem;
                font-weight: 100;
                color: var(--orange-700);
            }
        }

        .showHideDeliveryCard {
            color: var(--gray-300);
        }
    }
    
    .whatsWrong {
    
        .solveOption {
            display: flex;
            align-items: center;
            
            padding-left: 1rem;
            width: 100%;
            padding: 1rem;
            
            border: 1px solid var(--gray-200);
            border-radius: 5px;
            
            margin: 0.5rem 0 0.3rem 0;
            
            background: var(--background);
    
            p {
                margin-left: 0.5rem;
                font-size: 0.875rem;
            }
        }
    
        .solveOptionInput {
            display: flex;
            flex-direction: column;
    
            padding-left: 1rem;
            width: 100%;
    
            border: 1px solid var(--gray-200);
            border-radius: 5px;
    
            margin: 0.5rem 0 0.3rem 0;
    
            padding: 1rem;
    
            background: var(--background);
    
            div {
                display: flex;
                flex-direction: row;
            }
    
            p {
                margin-left: 0.5rem;
                font-size: 0.875rem;
            }
    
            input {
                margin-top: 0.5rem;
    
                padding-left: 0.5rem;
    
                border: 1px solid var(--gray-200);
                border-radius: 5px;
    
                height: 2.5rem;
            }
        }
    
    }
    
    .solveAction {
        display: flex;
        flex-direction: row;
    
        .solveActionOption {
            border: 1px solid var(--gray-200);
            border-radius: 5px;
    
            display: flex;
            flex-direction: row;
            align-items: center;
    
            font-size: 2rem;
    
            padding: 1rem;
    
            span {
                margin-left: 0.5rem;
                font-size: 0.75rem;
            }
    
            &:first-child {
                margin-right: 0.15rem;
            }
            &:last-child {
                margin-left: 0.15rem;
            }
        }
    }
    
    .issueButtonsContainer {
        display: flex;
        flex-direction: column;
    
        button {
            height: 3rem;
    
            margin-top: 0.5rem;
    
            border-radius: 5px;
    
            font-weight: 500;
        }
    
        .cancelIssueBtn {
            width: 100%;
    
            color: var(--red);
            background: none;
    
            height: 2.5rem;
            border-radius: 5px;
        }
    
        .requestIssueBtn {
            background: var(--yellow-100);
            color: var(--gray-600);
        }
    
        .disabledBtn {
            color: var(--gray-300);
        }
    }
}
