.deliveriesPage {
    width: 100vw;
    
    overflow-y: hidden;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    .groupBtn{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        width: 95vw;
        
        border-radius: 5px;
        
        margin: 0.6rem 0 0.6rem 0;
        
        background: #fff;
        
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);

        button {
            font-size: 0.81rem;
            color: var(--gray-300);

            width: 100%;

            padding: 1.2rem 0;

            background: #fff;

            &:first-child {
                border-radius: 5px 0 0 5px;
            }
            &:last-child {
                border-radius: 0 5px 5px 0;
            }
            &:focus {
                background: var(--orange-100);
                font-weight: 500;
                color: var(--orange-700);
            }
        }
    }

    .theresNoDelivery {
        display: flex;
        align-items: center;
        justify-content: center;

        height: calc(100vh - 15.6rem);

        font-size: 1.12rem;
        font-weight: 400;
        color: var(--gray-500);
    }
}



