.deliveryCardContainer {
    display: flex;
    flex-direction: column;

    width: 95vw;

    padding: 1.2rem 1.2rem;

    background: #fff;

    border-radius: 5px;

    color: var(--gray-500);
    font-size: 0.75rem;

    margin-bottom: 0.625rem;

    box-shadow: 0 3px 45px rgba(0, 0, 0, 0.05);

    section {
       margin-bottom: 0.875rem;

       .titleDelivery {
           margin-bottom: 0.2rem;
       }

        h3 {
            color: var(--orange-700);
            font-size: 0.875rem;

            strong {
                margin-left: 0.3rem;
                font-weight: 500;
                font-size: 0.75rem;
            }
       }
    }

    .headerContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: initial;

        .dateTimeId {
            display: flex;
            flex-direction: column;

            .dateTime {
                font-size: 0.75rem;

                margin-bottom: 0.625rem;
            }

            .idDelivery {
                font-size: 0.875rem;
                
                strong {
                    font-size: 0.875rem;
                }
            }
        }

        button{
            background-color: var(--orange-100);
            
            height: 2.3rem;
            width: 2.3rem;
            
            border-radius: 10rem;
            
            margin-left: 0.5rem;

            .faIcon{
                font-size: 1.3rem;
                font-weight: 100;
                color: var(--orange-700);
            }
        }

        .showHideDeliveryCard {
            color: var(--gray-300);
        }
    }

    .profileLink {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .info {
            display: flex;
            flex-direction: row;

            .deliveryman{
                margin-left: 0.3rem;

                .currentRate {
                    color: var(--orange-700);
                    font-size: 0.875rem;
                    
                    span {
                        margin-left: 0.25rem;

                        font-size: 0.875rem;
                    }
                }
            }
        }

        .arrow {
            color: var(--orange-700);
        }
    }

    .statusContainer {
        display: flex;
        flex-direction: column;

        p {
            font-weight: 500;
            font-size: 0.75rem;
        }

        span {
            font-size: 0.75rem;
        }

        .statusBar{
            margin: 0.5rem 0 0.5rem 0;
        
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        
        .waitingDeliverymanStatus{
            width: 24%;
            height: 0.3rem;
        
            background: var(--gray-100);
            
            .waitingDeliverymanCurrentStatus{
                width: 100%;
                height: 0.3rem;
            
                background: var(--green-500);
            }

        }
        
        .deliveryInProgressStatus{
            width: 74%;
            height: 0.3rem;
        
            background: var(--gray-100);
            
            .deliveryInProgressCurrentStatus{
                width: 60%;
                height: 0.3rem;
            
                background: var(--green-500);
            }
        }
    }

    .addressContainer {
        
        span {
            font-size: 0.75rem;
        }
    }

    .actionButtonsContainer {
        display: flex;
        flex-direction: column;

        .cancelBtn {
            display: none;
            justify-content: flex-end;

            width: 100%;

            color: var(--red);
            background: none;

            height: 2.5rem;
            border-radius: 5px;
        }

        .progressBtns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            height: 2.5rem;
            
            .issueBtn {
                width: 100%;

                border-radius: 5px;

                color: var(--black);
                background: none;

                font-weight: 500;
            }

            .finalizeBtn {
                margin-left: 0.2rem;
                width: 150%;

                border-radius: 5px;

                font-weight: 500;
                color: var(--green-600);
                background: var(--green-100);
            }
        }
    }
    
    // ---ISSUECARD---
    .whatsWrong {

        .solveOption {
            display: flex;
            align-items: center;
            
            padding-left: 1rem;
            width: 100%;
            padding: 1rem;
            
            border: 1px solid var(--gray-100);
            border-radius: 5px;
            
            margin: 0.5rem 0 0.3rem 0;
            
            background: var(--background);

            p {
                margin-left: 0.5rem;
                font-size: 0.875rem;
            }
        }

        .solveOptionInput {
            display: flex;
            flex-direction: column;

            padding-left: 1rem;
            width: 100%;

            border: 1px solid var(--gray-100);
            border-radius: 5px;

            margin: 0.5rem 0 0.3rem 0;

            padding: 1rem;

            background: var(--background);

            div {
                display: flex;
                flex-direction: row;
            }

            p {
                margin-left: 0.5rem;
                font-size: 0.875rem;
            }

            input {
                margin-top: 0.5rem;

                padding-left: 0.5rem;

                border: 1px solid var(--gray-200);
                border-radius: 5px;

                height: 2rem;
            }
        }

    }
    
    .solveAction {
        display: flex;
        flex-direction: row;

        .solveActionOption {
            border: 1px solid var(--gray-100);
            border-radius: 5px;

            display: flex;
            flex-direction: row;
            align-items: center;

            font-size: 2rem;

            padding: 1rem;

            span {
                margin-left: 0.5rem;
                font-size: 0.75rem;
            }

            &:first-child {
                margin-right: 0.15rem;
            }
            &:last-child {
                margin-left: 0.15rem;
            }
        }
    }
    
    .issueButtonsContainer {
        display: flex;
        flex-direction: column;

        button {
            height: 3rem;

            margin-top: 0.5rem;

            border-radius: 5px;

            font-weight: 500;
        }

        .cancelIssueBtn {
            width: 100%;

            color: var(--red);
            background: none;

            height: 2.5rem;
            border-radius: 5px;
        }

        .requestIssueBtn {
            background: var(--yellow-100);
            color: var(--gray-600);
        }

        .disabledBtn {
            color: var(--gray-300);
        }
    }
}