.navbarContainer{
    position: fixed;
    bottom: 0;
    left: 0;

    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 4rem;
    width: 100vw;

    padding: 1.5rem;
    
    background: var(--white);
    
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);

    color: var(--gray-300);

    z-index: 100;

    .navbarBtn{
        font-size: 1.35rem;
    }

    img{
        width: 1.5rem;
    }

    header{
        display: flex;
        flex-direction: column;

        .sandwichMenu{
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;

            border: 0;

            background: none;
        }

        .profile{
            margin-top: 1rem;
        }
    }

    .sidebarBtn{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    
        padding: 0.5rem 1.3rem 0.5rem 1.3rem;
        
        &:hover{
            border-right: 3px solid var(--text-highlight);
        }
    }
    
    .activeButton {
        border-right: 3px solid var(--orange-700);
    }

    .newDelivery {
        background: var(--orange-700);

        height: 3.25rem;
        width: 3.25rem;

        border-radius: 2rem;
        
        margin-top: -2rem;

        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);

        span {
            font-size: 3rem;
            color: #fff;
        }
    }
}

.sidebarContainerBottom {
    display: none;
}