.itemTimelineContainer {
    display: flex; 
    align-items: center;

    padding: 1rem 1rem;

    width: 95vw;

    .titleDescription {
        margin-left: 1.5rem;

        strong {
            font-weight: 600;
            font-size: 0.875rem;
        }
    }

    span {
        margin-left: auto;
        font-size: 0.75rem;
        color: var(--gray-300);
    }
}