.homepage {
    padding: 4rem 0;

    overflow-y: hidden;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    .groupBtn{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        width: 95vw;
        
        border-radius: 5px;
        
        margin: 0.6rem 0 0.6rem 0;
        
        background: #fff;
        
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);

        button {
            font-size: 0.81rem;
            color: var(--gray-300);

            width: 100%;

            padding: 1.2rem 0;

            background: #fff;

            &:first-child {
                border-radius: 5px 0 0 5px;
            }
            &:last-child {
                border-radius: 0 5px 5px 0;
            }
            &:focus {
                background: var(--orange-100);
                font-weight: 500;
                color: var(--orange-700);
            }
        }
    }

    .theresNoDelivery {
        display: flex;
        align-items: center;
        justify-content: center;

        height: calc(100vh - 15.6rem);

        font-size: 1.12rem;
        font-weight: 400;
        color: var(--gray-500);
    }

    .tabLinks{
        position: fixed;
        bottom: 0;
        left: 0;
    
        display: flex; 
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    
        height: 4rem;
        width: 100vw;
    
        padding: 1.5rem;
        
        background: var(--white);
        
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    
        color: var(--gray-300);
    
        z-index: 100;
    
        button{
            font-size: 1.35rem;
            color: var(--gray-300);

            width: 3rem;
            height: 3rem;
            border-radius: 10rem;

            background: transparent;
        }
    
        .newDelivery {
            background: var(--orange-700);
    
            height: 3.25rem;
            width: 3.25rem;
    
            border-radius: 2rem;
            
            margin-top: -2rem;
    
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    
            span {
                font-size: 3rem;
                color: #fff;
            }
        }
    }
    
    .sidebarContainerBottom {
        display: none;
    }
}



