.headerContainer{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    height: 4rem;
    width: 100vw;
    
    padding: 0 1rem;

    background: var(--background);
    
    z-index: 100;
    
    .buttonsHeader {
        display: flex;
        
        button{
            background-color: var(--orange-100);
            
            height: 2.3rem;
            width: 2.3rem;
            
            border-radius: 10rem;
            
            margin-left: 0.5rem;

            .faIcon{
                font-size: 1.3rem;
                font-weight: 100;
                color: var(--orange-700);
            }
        }
    }
}