.newDeliveryContainer {
    position: fixed;

    top: 0;
    left: 0;

    width: 100vw;
    height: calc(100vh - 3.7rem);

    padding: 1rem;

    z-index: 5000;

    background: var(--background);

    .title {
        display: flex;
        flex-direction: row;
        align-items: center;

        color: var(--orange-700);

        margin-top: 1.5rem;

        margin-bottom: 0.5rem;

        h3 {
            font-size: 0.875rem;
            margin-left: 0.5rem;
        }
    }

    .headerContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .backTitle {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        
        h1 {
            margin-left: 0.5rem;
            font-size: 1.2rem;
            color: var(--black);
        }

        button {
            font-size: 1.3rem;
            height: 2.3rem;
            width: 2.3rem;
            color: var(--orange-700);
            background: var(--orange-100);
            border-radius: 10rem;
        }
    }

    .prevData {
        margin-top: 1.5rem;

        span {
            font-size: 0.75rem;
            color: var(--gray-500);
        }

        p {
            font-size: 0.875rem;
            color: var(--gray-600);
        }
    }

    .collectAddress {
        display: flex;
        flex-direction: column;

        .collectAddressCard {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            margin-top: 0.5rem;
            background: #fff;
            
            width: 100%;

            padding: 1rem;

            border-radius: 5px;
            border: 1px solid var(--orange-700);

            strong {
                font-size: 1rem;
                font-weight: 500;
                color: var(--gray-600);
            }

            p {
                font-size: 0.875rem;
                color: var(--gray-500);
            }

            span {
                font-size: 0.75rem;
                color: var(--gray-500);
            }

        }

        button {
            margin: 0.5rem 0;
            height: 3rem;
            width: 100%;

            background: #fff;
            color: var(--orange-700);
            font-weight: 500;
            font-size: 0.875rem;

            border-radius: 5px;
        }
    }

    .btnsContainer {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        
        button {
            width: 100%;
            height: 3rem;

            border-radius: 5px;
            font-weight: 500;
            margin-bottom: 0.5rem;

            font-size: 0.875rem;
            font-weight: 500;
        }

        .disabled {
            background: var(--gray-100);
            color: var(--gray-300);
        }

        .cancel {
            background: none;

            color: var(--red);
        }

        .continue {
            background: var(--orange-100);

            color: var(--orange-700);
        }
    }
}
