.deliveryCardContainer {
    max-width: 90vw;

    padding: 1.5rem 1.8rem;

    background: #fff;

    border-radius: 10px;

    box-shadow: 0 3px 45px rgba(0, 0, 0, 0.05);

    section {
        margin-bottom: 1.5rem;

        article {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 0.4rem;
            border: 1px solid var(--background);
            border-radius: 5px;
            padding: 0.6rem;

            span {
                margin-left: 0.5rem;

                font-weight: 400;
                color: var(--text-light);
            }

            input {
                margin-top: 0.5rem;
                width: 100%;
                height: 2rem;

                padding: 0 0.7rem 0 0.7rem;

                border: 0;
                border-radius: 5px;

                background: var(--background);

                font-size: 0.9rem;
            }
            
            &:hover{
                cursor: pointer;
                border: 1px solid var(--title);
                border-radius: 5px;

                span {
                    color: var(--title);
                    font-weight: 500;
                }
            }
            
        }
        
        .issueWithInput {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            
            .titleIssueWithInput {
                display: flex;
                flex-direction: row;
            }
        }
    }

    button {
        border-radius: 5px;
        font-weight: 500;
        font-size: 0.9rem;
    }

    .danger{
        background: var(--red);
        color:#ffffff;
    }

    .warning{
        background: var(--yellow);
        color:#000000;
    }

    .success{
        background: var(--green);
        color:#ffffff;
    }

    .disabled{
        cursor: not-allowed;
        background: #f1f1f1;
        color: var(--text-light);
    }
    .disabled:hover{
        color: var(--red);
        border: 1px solid var(--red);
    }

    .sm{
        width: 25%;
        height: 1.5rem;
    }

    .md{
        width: 50%;
        height: 2rem;
    }

    .lg{
        width: 100%;
        height: 3rem;
    }

    .xl{
        width: 200%;
        height: 3rem;
    }
    .headerDeliveryCard {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .idDateDelivery {
            display: flex;
            flex-direction: column;

            span {
                font-size: 0.675rem;
                font-weight: 400;
                color: var(--text-light);
    
                strong {
                    margin-right: 0.2rem;
    
                    color: var(--title);
                    font-weight: 600;
                    font-size: 1rem;
                }
    
                &:last-child {
                    font-size: 0.875rem;
                    color: var(--title);
                }
            }
    
            button {
                background: none;
            }
        }
    }

    .titleDelivery {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        margin-bottom: 0.5rem;

        img {
            height: 1rem;
        }
        
        strong {
            font-size: 0.75rem;
            margin-left: 0.5rem;

            font-weight: 500;
            color: var(--title);
        }
    }

    .profileDeliveryman {
        display: flex;
        justify-content: space-between;

        .infoDeliveryman {
            display: flex;
            flex-direction: row;

            .ratingDeliveryman {
                span {
                    margin-left: 0.5rem;
                    font-weight: 400;

                }

                .currentRateDeliveryman {
                    display: flex;
                    align-items: baseline;
                    margin-left: 0.5rem;

                    img {
                        width: 0.8rem;
                    }

                    span {
                        color: var(--title);
                        font-weight: 400;
                        font-size: 0.9rem;
                        margin-left: 0.4rem;
                    }
                }
            }
        }

        button {
            background: none;
        }
    }

    .statusDelivery {
        span {
            font-size: 0.6875rem;
            
            font-weight: 400;
        }
        .statusBar{
            margin: 0.5rem 0 0.5rem 0;
        
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        
        .waitingDeliverymanStatus{
            width: 24%;
            height: 0.3rem;
        
            background: var(--text-highlight);
            
            .waitingDeliverymanCurrentStatus{
                width: 100%;
                height: 0.3rem;
            
                background: var(--green);
            }

        }
        
        .deliveryInProgressStatus{
            width: 74%;
            height: 0.3rem;
        
            background: var(--text-highlight);
            
            .deliveryInProgressCurrentStatus{
                width: 60%;
                height: 0.3rem;
            
                background: var(--green);
            }
        }
    }

    .addressContainer {
        
        .addressDelivery {
            display: flex;
            flex-direction: column;

            span {
                font-weight: 400;
                color: var(--text);
            }
    
            strong {
                margin-top: 0.35rem;
                font-weight: 400;
                font-size: 0.8rem;

                color: var(--text-light);
            }
        }
    }

    .paymentDelivery {
        span {
            font-weight: 400;
            color: var(--text);
        }
    }
    
    .issueDelivery {
        span {
            font-weight: 400;
            color: var(--text);
        }
    }

    .btnsDelivery {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        button:first-child {
            margin-right: 0.2rem;
        }

        button:last-child {
            margin-left: 0.2rem;
        }
    }

    .columnDirection {
        display: flex;
        flex-direction: column;

        button:first-child {
            margin-bottom: 0.2rem;
        }

        button:last-child {
            margin-top: 0.2rem;
        }
    }

    .arrowShowHide{
        button{
            font-size: 1.5rem;
            color: var(--text-light);
            border: 0;
            background: none;
            width: 100%;
        
            padding: 0.2rem;
    
            img{
                width: 1rem;
            }
        }
    }
}