.financePage {
    padding: 4rem 0;

    overflow-y: hidden;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    .currentInvoice {
        display: flex;
        flex-direction: column;
        width: 95vw;
        align-items: flex-start;

        span {
            font-size: 0.875rem;

            strong {
                font-size: 0.875rem;
                font-weight: 600;
            }
        }

        h1 {
            font-size: 2.5rem;
            font-weight: 700;
        }

        button {
            width: 100%;
            height: 3rem;
            
            margin-top: 1rem;
            
            color: #FFF;
            font-weight: 400;

            border-radius: 5px;

            background: var(--orange-700);
        }
    }

    .timeline {
        background: var(--gray-200);

        width: 100vw;
        height: auto;

        margin-top: 1rem;
    }
}